.idea/
*.iml

.DS_Store

.gradle/
**/build/
captures/
.externalNativeBuild/
.cxx/

local.properties
**/local.properties

*.log
*.hprof

Auto-CTRL/
ServiceManagerCompat-main/
cmd-android-master/
libsu-main/
